
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>Trang chủ Admin</h2>

<style>
    img {
        display: block;
        margin: auto;
        width: 90%; /* Điều chỉnh kích thước theo mong muốn */
    }
</style>

<img src="/img/Nhaisiimg/phong-kham-nha-khoa-quan-9-hinh-anh-6-6053.jpg" alt="Hình ảnh">
